mixin videoCatalog(video = {})
    .videoCatalog
        a(href=routes.videoDetail(video.id))
            video.videoCatalog__thumbnail(src=video.videoFile, controls=false)
            h4.videoCatalog__title=video.title
            if video.views === 1
                h6.videoCatalog__views 1 view
            else
                h6.videoCatalog__views #{video.views} views 